@charset "UTF-8";

/*
    em HTML é id = em CSS é # (Só pode um elemento por documento)
    em HTML é class = em CSS é . (pode varios elementos)
*/

body{
    background-color: #D4E6B5;
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    color: #5e5545;
}

h1#principal{
    text-align: center;
    background-color: #877B66;
    color: white;
}
h2{
    color: #877B66;
}
.basico{
    color: #6beb5f;

}
.intermediario{
    color: #f8c842;
}
.avancado{
    color: #2997aa;
}
.destaque{
    background-color: #ebeb3b98;
}