@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}
body{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #84E1AD;
}
header{
    max-width: 100%;
    background-image: linear-gradient(to top, #195734, #3CD983 );
    box-shadow: 5px 2px 9px 0px black;
    
}
header > h1{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.658);
    text-align: center;
    margin: 0px;
    color: white;
    padding: 30px;
}
main > h1{
    font-size: 25px;
    font-family: 'idroid';
    color: #1e663d;
    margin: 0px;
    
}
p.cabeca{
    display: block;
    color: rgba(255, 255, 255, 0.562);
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
}
header > nav > a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
}
nav > a:hover{
    background-color: rgba(81, 128, 81, 0.637);
}

.android{
    color: #195734;
    font-family: 'idroid';
    text-align: left;
    padding: 0px;
    background-image: linear-gradient(to right, #84e1ac9c, #84e1ac00);
    border-radius: 5pc;
}
main{
    padding: 20px;
    background-color: white;
    margin:3px 285px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.562);
}
article > p{
    text-indent: 40px;
    text-align: justify;
}

p > a {
    
    font-weight: bold;
    color: #215f3cfd;
    text-decoration: none;
}
strong{
    color: #215f3cfd;
}
div > img{
    text-align: center;
    max-width: 100%;
    height: auto;
}
div#bug{
    text-align: center;
}
iframe{
    width: 100%;
    height: 450px;
}
.lista{
    background-color: #84E1AD;
    padding: 5px 7px;
    text-align: justify;
    text-indent: 40px;
    border-radius: 10px;
}
ul{
    text-decoration: underline;
    text-align: justify;
}
h3{
    background-color: #5fad81c5;
    margin: -7px;
    border: 0px;
    border-top: 10px;

}
footer{
    background-color: #1A5C38;
    color: white;
    text-align: center;
}
