@charset "UTF-8";

*{
    
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #2A86E8,  #525E6B);
}
p{
    text-align: justify;
}
main{
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(58, 67, 77, 0.918);
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #133C69;
    text-align: center;
    text-shadow: 1px 1px 0px #12365cea;
}
h2{
    color: #6cb3ff;
}